:root {
  --Ver-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100;
}
.main-container {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-evenly;
  width: 80%;
  background-image: url("./images/bg-pattern-top-desktop.svg"),
    url("./images/bg-pattern-bottom-desktop.svg");
  background-position: top left, bottom right;
  background-repeat: no-repeat;
}

.section-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.heading-container {
  width: 40%;
}

.heading-info {
  color: var(--Ver-Dark-Magenta);
  font-size: 2.5rem;
  font-weight: 700;
  padding-bottom: 1rem;
  padding-right: 1.5rem;
}

.text-info {
  color: var(--Dark-Grayish-Magenta);
  line-height: 1.6rem;
  text-align: justify;
  font-size: 1rem;
  padding-right: 1.5rem;
}

.star-rating-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  justify-content: space-around;
}

.star-card {
  display: flex;
  background-color: var(--Light-Grayish-Magenta);
  border-radius: 10px;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.star-card:nth-child(2) {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.star-card:nth-child(3) {
  margin-left: auto;
}

.stars {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}
.rating {
  color: var(--Ver-Dark-Magenta);
  font-weight: 700;
  margin-right: auto;
}
.buyer-section {
  display: flex;
  width: 100%;
  padding: 4rem 0rem;
  justify-content: space-between;
}

.coltan-smith,
.irene-roborts,
.anne-wallance {
  display: flex;
  flex-direction: column;
  background-color: var(--Ver-Dark-Magenta);
  border-radius: 8px;
  padding: 1.5rem;
  color: var(--White);
  width: 30%;
  height: 80%;
}

.coltan-smith {
  margin-top: 0;
  margin-bottom: auto;
}
.irene-roborts {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}
.anne-wallance {
  margin-top: auto;
  margin-bottom: 0;
}

.buyer-info {
  display: flex;
  line-height: 1.3rem;
}

.buyer-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.buyer-name {
  padding-left: 1rem;
}
.buyername {
  font-weight: 700;
}
.buyer-rating {
  margin-top: 1.5rem;
  line-height: 1.5rem;
  font-size: 1rem;
}

.verified-buyer {
  color: var(--Soft-Pink);
}
