:root {
  --Ver-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./images/bg-pattern-top-desktop.svg"),
    url("./images/bg-pattern-bottom-desktop.svg");
  background-position: top left, bottom right;
  background-repeat: no-repeat;
}
.container {
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
  width: 80%;
}

.section-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.heading-container {
  width: 40%;
}

.heading-info {
  color: var(--Ver-Dark-Magenta);
  font-size: 2.5rem;
  font-weight: 700;
  padding-right: 4.5rem;
}

.text-info {
  color: var(--Dark-Grayish-Magenta);
  line-height: 1.6rem;
  text-align: justify;
  font-size: 1rem;
  padding-top: 1rem;
  font-weight: 500;
}

.star-rating-container {
  display: flex;
  flex-direction: column;
  width: 60%;

  justify-content: space-around;
  padding-left: 4rem;
}

.star-card {
  display: flex;
  background-color: var(--Light-Grayish-Magenta);
  border-radius: 10px;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.star-card:nth-child(2) {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.star-card:nth-child(3) {
  margin-left: auto;
}

.stars {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.rating {
  color: var(--Ver-Dark-Magenta);
  font-weight: 700;
  margin-right: auto;
}
.buyer-container {
  display: flex;
  width: 100%;
  padding: 4rem 0rem;
  justify-content: space-between;
}

.buyer-1,
.buyer-2,
.buyer-3 {
  display: flex;
  flex-direction: column;
  background-color: var(--Ver-Dark-Magenta);
  border-radius: 8px;
  padding: 1.5rem;
  color: var(--White);
  width: 30%;
}

.buyer-1 {
  margin-bottom: 1.5rem;
}
.buyer-2 {
  margin: auto;
}
.buyer-3 {
  margin-top: 1.5rem;
}

.buyer-info {
  display: flex;
  line-height: 1.3rem;
}

.buyer-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.buyer-name {
  padding-left: 1rem;
}
.buyername {
  font-weight: 700;
}
.buyer-rating {
  margin-top: 1.5rem;
  line-height: 1.3rem;
}

.verified-buyer {
  color: var(--Soft-Pink);
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
  .main-container {
    height: auto;
  }

  .container {
    width: auto;
  }

  .section-header {
    flex-direction: column;
  }

  .heading-container {
    width: auto;
    padding: 4rem;
  }

  .heading-info {
    padding-right: 0;
    text-align: center;
  }
  .text-info {
    text-align: center;
  }
  .star-rating-container {
    width: 100%;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
    align-self: center;
  }
  .star-card {
    display: flex;
    flex-direction: column;
    width: auto;
  }
  .star-card:nth-child(2) {
    margin-left: 0;
    margin-right: 0;
  }
  .star-card:nth-child(3) {
    margin-left: 0;
  }

  .rating {
    padding-top: 1rem;
    margin-right: 0;
  }

  .buyer-container {
    display: flex;
    width: 100%;
    padding: 4rem 0rem;
    flex-direction: column;
  }
  .buyer-container {
    display: flex;
    width: auto;
    padding: 2rem;
    flex-direction: column;
  }
  .buyer-1,
  .buyer-2,
  .buyer-3 {
    padding: 3rem;
    width: auto;
  }
  .buyer-1 {
    margin-bottom: 0;
  }
  .buyer-2 {
    margin-top: 1rem;
  }
  .buyer-3 {
    margin-top: 1rem;
  }
}
